
main{
    margin-top: 5rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

/*Slider*/
main>div.slider{
    margin: 1rem;
    width: 80%;
}
main>div.slider>img{
    width: 100%;
}

/*Ofertas y destacados*/
main>div.ofertas,main>div.destacados{
    width: 80%;
    max-width: 80%;
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
}
main>div.ofertas>h2,main>div.destacados>h2{
    grid-area: 1/1/2/5;
    text-align: left;
}
