/*Colores:
    Base: #5c98c7
    Texto: #374047
    Fondos: #BBDBF5
    Otros: #233a4c
*/

/*-------------------------Tipografía---------------------*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

/*--------------------------------------------------
----------------------Reset---------------------
------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Noto Sans', sans-serif;
}
img{
    vertical-align: middle;
}

/*-----------------------------------------------------
-----------------------Header----------------------
-----------------------------------------------------*/
header{
    margin-bottom: 1rem;
    box-shadow: 0 5px 5px #555;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #5c98c7;
}

/*Cabecera*/
header .cabecera{
    flex: 0 0 100%;
    height: 5rem;
    margin-bottom: 1rem;
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
}
header div.logo{
    width: 15%;
    flex: 0 0 auto;
    text-align: center;
}
header div.logo>img{
    width: 5rem;
}
header div.menu{
    width: 15%;
    flex: 0 0 auto;
    text-align: center;
}
header div.menu>img{
    width: 2rem;
    transition: transform 0.3s ease-out;
    cursor: pointer;
}
header div.menu>img:hover{
    transform: rotateY(180deg);
}
header div.buscar{
    flex: 1 1 auto;
    text-align: center;
}
header div.buscar>input{
    width: 80%;
    height: 2.5rem;
    background-color: #ccc;
    border: 1px solid #999;
    border-radius: 1rem;
    box-shadow: .2rem .2rem .2rem #999;
    padding: 0 1rem;
}
header div.usuario{
    width: 30%;
    flex: 0 0 auto;
    text-align: center;
}
header div.usuario>img{
    width: 2rem;
    margin-left: 1rem;
}

/*Navegación*/
header>nav{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
}
header>nav>a{
    flex: 1 1 auto;
    text-align: center;
    text-decoration: none;
    color: #374047;
    background-color: #BBDBF5;
    border: 1px solid #233a4c;
    padding: 1rem 1.5rem;
}
header>nav>a:hover{
    background-color: #5c98c7;
}

/*-------------------------------------------------------
----------------------Footer--------------------------
--------------------------------------------------------*/
footer{
    height: 8rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    box-shadow: 0 -5px 5px #555;
}
footer>div.rrss{
    width: 50%;
    margin-top: 0.5rem;
    border-top: 1px solid #233a4c;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
footer>div.rrss>a{
    width: 2rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
}
footer>div.rrss img{
    width:100%;
}
