/*Colores:
    Base: #5c98c7
    Texto: #374047
    Fondos: #BBDBF5
    Otros: #233a4c
*/

/*----------------------Tipografía--------------------*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

/*----------------------------------------------------
----------------------Reset---------------------------
------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Noto Sans', sans-serif;
}
img{
    vertical-align: middle;
}

/*----------------------------------------------------
-----------------------Header-------------------------
-----------------------------------------------------*/
header{
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/*------------Cabecera-----------*/
header .cabecera{
    z-index: 3;
    background-color: #5c98c7;
    flex: 0 0 100%;
    height: 6rem;
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
}
/*Logo*/
header div.logo{
    width: 15%;
    flex: 0 0 auto;
    text-align: center;
}
header div.logo>img{
    width: 5rem;
}
/*Hamburguesa*/
header div.menu{
    width: 15%;
    flex: 0 0 auto;
    text-align: center;
}
header div.menu>img{
    width: 2.5rem;
    transition: transform 0.3s ease-out;
    cursor: pointer;
}
header div.menu>img:hover{
    transform: rotateY(180deg);
}
/*Busqueda*/
header div.buscar{
    flex: 1 1 auto;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
}
header div.buscar>input{
    width: 80%;
    flex: 1 1 auto;
    height: 2.5rem;
    background-color: #eee;
    border: 1px solid #999;
    color: #374047;
    border-radius: 1rem;
    padding: 0 1rem;
}
header div#lupa{
    flex: 0 0 auto;
    height: 2.5rem;
    width: 4rem;
    margin-right: -1.5rem;
    border-radius: 1rem 0 0 1rem;
    background-color: #BBDBF5;
    border: 1px solid #999;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: margin-right 0.2s ease-out;
    cursor: pointer;
}
header div#lupa:hover{
    margin-right: -1rem;
}
header div.buscar img{
    width: 40%;
    margin-left: 0.5rem;
}
header div#listaBusqueda{
    display: none;
    position: absolute;
    left: 3.5rem;
    top: 2.5rem;
    width: 85%;
    border: 1px solid #999;
    background-color: #eee;
    color: #374047;
}
header div#listaBusqueda>p{
    border: 1px solid #ccc;
    padding: 0.3rem;
    cursor: pointer;
}
header div#listaBusqueda>p:hover{
    background-color: #BBDBF5;
}
/*Usuario y carrito*/
header div.usuario{
    width: 30%;
    flex: 0 0 auto;
    text-align: center;
}
header div.usuario>div{
    position: relative;
    display: inline-block;
    width: 2rem;
    margin-left: 1.5rem;
}
header div.usuario>div>img{
    width:100%;
    transition: width 0.2s ease-out;
    cursor: pointer;
}
header div.usuario>div>img:hover{
    width: 2.5rem;
}
/*Panel Cesta*/
header div#cesta{
    position: absolute;
    z-index: -1;
    top: 2.5rem;
    right: .5rem;
    width: 20rem;
    height: 30rem;
    border: 1px solid #999;
    background-color: #eee;
    border-radius: 1rem;
    opacity: 0;
    transform: scale(0,0);
    transform-origin: top right;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}
header div#cesta.mostrarCesta{
    z-index: 4;
    opacity: 1;
    transform: scale(1,1);
}

/*-------------Navegación------------*/
header>nav{
    height: 5rem;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    box-shadow: 0 5px 5px #555;
    z-index: 2;
    position: absolute;
    top: 1rem;
    transition: top 0.7s ease-out;
}
header nav.visible{
    top: 6rem;
}
header>nav>a{
    flex: 1 1 0;
    text-decoration: none;
    color: #374047;
    background-color: #BBDBF5;
    border: 1px solid #999;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.8rem;
}
header>nav>a:hover>img{
    width: 3rem;
}
header>nav img{
    width: 2rem;
    transition: width 0.2s ease-out;
}

/*------------------------------------------------------
----------------------Footer----------------------------
--------------------------------------------------------*/
footer{
    height: 8rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    box-shadow: 0 -5px 5px #555;
}
footer>div.rrss{
    width: 50%;
    margin-top: 0.5rem;
    border-top: 1px solid #233a4c;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
footer>div.rrss>a{
    width: 2rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
}
footer>div.rrss img{
    width:100%;
}

/*------------------------------------------------------
----------------------MODAL PRODUCTO--------------------
--------------------------------------------------------*/

div#modal{
    width: 70vw;
    height: 40vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    color: #374047;
    background-color: white;
    border: 1px solid #5c98c7;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: .2rem .2rem .2rem #555;
    padding: 2rem;

    display: none;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 3fr 1fr;
    grid-gap: 1rem;
    grid-template-areas:
        "foto panel"
        "desc desc";
}
div#modal>img{
    grid-area: foto;
    display: block;
    margin: 0 auto;
    max-height: 30vw;
}
div#modal>div#panelDerecho{
    grid-area: panel;
}
div#modal>p{
    grid-area: desc;
    overflow-y: auto;
}

/*Panel derecho*/
div#modal div#mdl_panelDerecho{
    border-left: 1px solid #BBDBF5;
    border-bottom: 1px solid #BBDBF5;
    padding: 1rem;

    max-height: 30vw;
    display: flex;
    flex-flow: column nowrap;
}
div#modal div.nombre{
    flex: 0 0 auto;
    font-size: 2.2rem;
}
div#modal div.precios{
    margin-top: 0.5rem;
    flex: 1 1 auto;
}
div#modal p#mdl_precioPeque{
    font-size: 1.5rem;
}
div#modal p#mdl_precioGrande{
    font-size: 2.2rem;
}
div#modal p#mdl_ahorro{
    display: inline-block;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: orange;
    width: 6rem;
    clip-path: polygon(0 0, 80% 1%, 100% 100%, 0% 100%);
}
div#modal div.info{
    margin-top: 0.5rem;
    flex: 0 0 auto;
}
div#modal p#mdl_stock{
    display: inline-block;
    color: #fff;
    font-weight: bold;
    background-color: green;
    width: 20rem;
    clip-path: polygon(0 0, 95% 1%, 100% 100%, 0% 100%);
}
div#modal div.form{
    margin-top: 0.5rem;
    flex: 0 0 auto;
}
div#modal button.btn-uds{
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    background-color: #BBDBF5;
    border: none;
    cursor: pointer;
}
div#modal input#mdl_cantidad{
    color: #374047;
    display: inline-block;
    font-size: 2rem;
    width: 5rem;
    height: 3rem;
    text-align: center;
}
div#modal button#mdl_addCesta{
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    background-color: #5c98c7;
    border: none;
    color: white;
    cursor: pointer;
}
