
.tarjetaProducto{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border: 1px solid #999;
    box-shadow: .2rem .2rem .2rem #999;
    padding: 1rem;
    cursor: pointer;
    transition: padding 0.3s ease-out;
}
.tarjetaProducto:hover{
    padding: 0.8rem;
}
.tarjetaProducto>img{
    width: 100%;
}
.tarjetaProducto>p{
    width: 100%;
    text-align: left;
}
.tarjetaProducto>.precioPeque{
    text-decoration: line-through;
}
.tarjetaProducto>.precioGrande{
    font-size: 2rem;
    font-weight: bold;
}
.tarjetaProducto>.precioAhorro>span{
    display: inline-block;
    color: #fff;
    font-weight: bold;
    background-color: orange;
    width: 4rem;
    clip-path: polygon(0 0, 85% 1%, 100% 100%, 0% 100%);
}
.tarjetaProducto>.stock{
    font-size: .8rem;
    margin: .5rem 0;
}
.tarjetaProducto>p.muchas{
    color: green;
}
.tarjetaProducto>p.pocas{
    color: orange;
}
.tarjetaProducto>p.nada{
    color: red;
}
.tarjetaProducto>h3{
    font-size: 1.5rem;
    margin-bottom: .5rem;
}